@import "@fontsource/roboto";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
  }
}

body {
  background: var(--background);
  font-family: "Roboto", sans-serif;
}
