@import "@fontsource/roboto";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #fcfefd; */
  }
}

body {
  background: var(--background);
  font-family: "Roboto", sans-serif;
}
